* {
  margin: 0;
}

body {
  background-color: #f5f6fa;
}

.app {
  display: flex;
  justify-content: space-evenly;
  padding:20px;
}

.app_header > h1 {
  color: red;
  font-size: 2rem;
}

.app_dropdown {
  background-color: white;
}

.app_header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.app_left {
  flex: 0.9;
}

.app_right{
  display: flex;
  flex-direction: column;
}

.app_right > .MuiCardContent-root {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
}

.app_graph {
  flex-grow: 1;
}

.app_graphTitle {
  margin-top: 20px;
  margin-bottom: 20px;
}

.app_stats{
  display: flex;
  justify-content: space-between;
}

@media (max-width: 990px) {
  .app {
    flex-direction: column;
  }
}