.infoBox {
  flex:1;
  cursor: pointer;
}

.infoBox:not(:last-child) {
  margin-right: 20px;
}

.infoBox--selected {
  border-top: 10px solid  rgb(85, 231, 85);
}

.infoBox--red {
  border-color:red
}

.infoBox_cases--blue {
  color: #2531e2 !important;
}
.infoBox_cases--red {
  color: #CC1034 !important;
}
.infoBox_cases--green {
  color: #7DD71D !important;
}

.infoBox--blue {
  border-color:#2531e2;
}

.infoBox_cases {
  color: #2531e2;
  font-weight: 600;
  font-size: 1.75rem;
  margin-bottom:0.5rem;
}

.infoBox_total {
  color: #6c757d;
  font-weight: 700 !important;
  font-size: 0.9rem !important;
  margin-top: 15px !important;
}